# station sniffer 
# dhcp_lease_file=/tmp/dhcp.leases
# dhcp file for dnsmasq
dhcp_lease_file=/var/lib/misc/dnsmasq.leases
arp_table_file=/proc/net/arp
check_client_period=5
sync_pkt_timeout=1

# central controller
sync_ev_server_addr=syncEvServer.socket
sync_delay_list_max=20
sync_session_expire=60
sync_session_check_period=15

# cloud server
cloud_server_ip=127.0.0.1
could_server_port=55555
